body{
font:bold,16px,arial,helivetica,sans-serifs;
margin:20px;
padding:10px;
background-color: aquamarine;
}
  .container{width:80%;
  margin:auto;
overflow:hidden;}
.highlight{
  font:bold;
  color:red;
}
ul{
  margin: 0px;
  padding: 0px;
}
header a{
  padding: 14px 16px;
  color:blue;
  text-decoration: none;
  font-size: :20px;
}
.current{
  margin-left:930px;
  padding-top:0px;
}

.im{
        background-image: url(/home/ubuntu/Desktop/Allwyen/img/im.jpg);
        width:1500px;
        height:400px;
        text-align:center;
        color:white;
        font-size:20px;
    }
}  
.asd{background-color: bisque;}